
.allProducts {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 21rem ;
}
.othBlue {
    border: 4px solid #3d30c9;
}
.skamYellow {
    border: 4px solid #e4de19;   
} 
.ocBeige {
    border: 4px solid #ce9b61;   
}
.yrPurple {
    border: 4px solid #db6bd9;
}
.allProducts section {
    border-radius: 25px;
    width: 225px;
    color: black;
    margin-bottom: 10px;
    background-color: rgb(92, 202, 239);
}
.product-container {
    display: flex;
    flex-direction: column;
}
.allProducts section .product-container .visuals {
    padding-left: 12px;
}
.allProducts section .product-container  h2 {
    white-space: nowrap;
    font-size: 20px;
    text-align: center;
}
.allProducts section .product-container p {
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}
img {
    width: 200px;
    height: 187px;
    box-shadow: 1px 4px 4px black;
}
.buttons button {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 2px rgb(37, 68, 77);
}
.buttons button:hover {
    background-color: white;
    color: black;
    box-shadow: none;
}
.buttons {
    display: flex;
    margin: 0 1rem;
}
.showProduct {
    width: 95px;
    margin-right: 10px;
}
.addToCart {
    width: fit-content;
    white-space: nowrap;
}

@media only screen and (max-width: 600px) {
    .allProducts {
        display: grid;
        grid-template-columns: auto auto;
        margin: 0 ;
        margin-left: 1rem;
        gap: 5px;
        font-family: 'Times New Roman', Times, serif;
    }
    .allProducts section {
        width: 90%;
    }
    .allProducts section img {
       width:85%;
       margin: 0 1rem;
    }
    .buttons {
        display: flex;
        flex-direction: column;
    }
    .showProduct {
        margin:  10px 0;
        width: auto;
        height: 70%;
    }
    .allProducts section .product-container  h2 {
    white-space: nowrap;
    font-size: 18px;
    text-align: center;
}
}