.search-container {
    height: 1000px;
}

.search-container input {
    height: 25px;
    width: 200px;
    border-radius: 10px;
}

.search-container ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 205px;
}
.search-container ul li {
    width: 200px;
    padding: 5px;
}
.search-container ul li a {
    color: rgb(39, 107, 255);
}
.search-container ul li:hover {
    background-color: #525252;
    width:200px; 
}