h1 {
    margin-left: 0.5em;
}
.searchResults {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.searchResults section {
    padding: 8px;
    margin-right: 0;
    border-radius: 20px;
}
.searchResults section article h2 {
    text-align: center;
    font-size: 1.5em;
}
.searchResults section article section p {
    margin-left: 0.5em;
}
.searchResults section article section .buttons {
    margin-left: 0.5em;
}
@media only screen and (max-width: 760px)  {
 .searchResults section {
    width: 100%;
 }
 img {
    
    width: 100%;
    height: auto;
 }
 .searchResults section article section .buttons {
    margin-left: -0.6em;
 }
}
@media only screen and (max-width: 425px)  {
.searchResults {
    display: flex;
    flex-direction: column;
}
.searchResults section article section p {
    font-size: 1.3em;
}
.searchResults section article section .buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.searchResults section article section .buttons .addToCart {
 height: fit-content;
 padding: 5px;
 margin-top: 13px;   
}
}